table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 10px;
    text-align: left;
}
th {
    background-color: #f4f4f4;
}
.collapsible {
    background-color: #f4f4f4;
    color: #333;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    margin-bottom: 5px;
}
.active, .collapsible:hover {
    background-color: #ddd;
}
.content {
    display: none;
    overflow: hidden;
    margin-bottom: 20px;
}